/* General styles */
.inner-layout{
    width: 500px;
}

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters select,
.filters input {
    margin-right: 20px;
}

.generate-button {
    padding: 10px 20px;
    margin-left: 15px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.return-home {
    display: block;
    text-align: center;
    color: #007BFF;
    text-decoration: none;
    margin-bottom: 20px;
    transition: text-decoration 0.3s ease;
}

.return-home:hover {
    text-decoration: underline;
}

/* Print styles */
@media print {
    .filters, .return-home, button {
        display: none;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
    }
    th, td {
        text-align: left;
        border: 1px solid #ccc;
        padding: 8px;
        page-break-inside: avoid;
    }
    th {
        background-color: #f2f2f2;
    }
}