.inner-layout{
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 400px;
  height: 300px;
  padding: 50px;
  padding-bottom: 15px;
  padding-left: 140px;
  text-align: left;
  overflow-y: auto;
}

.inner-input-layout{
  display: flex;
  flex-direction: column;
  gap: 10px; 
  width: 100%;
}

#address{
  resize: none;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
}

label{
  font-weight: bold;
}

.save-button{
  background-color: rgb(255, 167, 167);
  border-width: 1.5px;
  font-weight: 700;
  margin-top: 65px;

  transition: opacity 0.15s;
}

.save-button:hover{
  opacity: 0.8;
}

.save-button:active{
  opacity: 0.4;
}

.return-home{
  display: block;
  color: rgb(0, 81, 255);
  cursor: pointer;
  text-align: left;
  font-size: small;
  margin-left: 100px;
  margin-top: 5px;
  
  transition: color 0.15s;
}
  
.return-home:hover{
  color:rgb(5, 5, 207);
}