.inner-layout{
  padding-bottom: 40px;
  padding-left: 140px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px; 
  width: 100%;
}

#address{
  resize: none;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
}

label{
  font-weight: bold;
}

.save-button{
  margin-top: 65px;
}

.return-home{
  margin-top: 10px;
}



